body{
    background-image: url(../img/background.jpg);   
    
}
.card{
    margin: auto;
}
.descripcion{
    font-family: verdana;
    font-size: 12px;    
}
.registro{
    font-family: verdana;
    font-size: 15px;
    text-align: center;
    background-color: rgb(81, 158, 81);
    height: 40px;
}
.aea{
    padding-right: 600px;
    padding-left: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

